@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
}
nav{
    text-align: end;
    background-color: aliceblue;
}
body {
	color: #f9fafb;
	background:  #143b72;
}

.container {
	width: 80%;
	margin: auto;
}

.heading {
	text-align: center;
	margin-bottom: 20px;
}

.quiz-container {
	padding: 2rem;
	border: 2px solid #47e9c6;
	border-radius: 0.5rem;
	margin: 1rem 0;
}

.quiz-container p {
	margin-bottom: 1rem;
}

.quiz-container label {
	margin-right: 0.5rem;
}

.angle-container {
	width: 90%;
	margin: auto;
}
label,input{
    width: 10%;
}

.btn{
    margin: 0 auto;
	padding: 0.5rem;
	background: #121213;
	color: #f9fafb;
	border: 1px solid #5b21b6;
	border-radius: 0.25rem;
	width: 50%;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

.output {
	text-align: center;
	margin: 2rem 0;
}

.input-container {
	margin: 1rem 0;
}

.input-container input {
	padding: 0.5rem;
	font-size: 1rem;
	width: 97%;
	margin: 0.5rem 1rem 1rem 0;
}

.formula {
	text-align: center;
	width: 80%;
	margin: auto;
	padding: 0.5rem;
	
}

nav{
	background: #1e1c22;
	padding: 1.5rem;
	margin-bottom: 2rem;
}

a{
	text-decoration: none;
	color: #fafafa;
	padding: 0.5rem;
	font-weight: 1000;
	font-size: 1rem;
}

/* .item-active {
	border-bottom: 2px solid;
	font-weight: bold;
} */

@media only screen and (min-width: 600px) {
	.angle-container,
	.container,
	.formula {
		width: 30%;
        /* border-radius: 1rem ; */
	}
}


/* F O O T E R */
footer{
    margin-top: 10%;
    background-color: rgb(7, 7, 6);
    /* width: 50%;
    align-content: center; */
}
footer ul {
    list-style-type: none;
    padding-inline-start: 0;
    word-spacing: 15px;
    text-align: center;
}
.footer-h2{
    text-align: center;
    margin-bottom: 10px;
}
.footer-para{
    text-align: center;
    margin-top: 10px;
}
footer li {
    display: inline;
}

footer a {
    text-decoration: none;
    color: #cfe4e4;
    font-size: medium;
    font-weight: 900;
}

footer div {
    text-align: right;
    padding-right: 30px;
}